<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615582581449-oi48f5gru4lkndbd4ej2ts6v071tains.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615582581449-oi48f5gru4lkndbd4ej2ts6v071tains</string>
	<key>API_KEY</key>
	<string>AIzaSyC-KJmyB0757C2oNb5hay_ymj9gJ8Ns_VM</string>
	<key>GCM_SENDER_ID</key>
	<string>615582581449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.keishimizu26629.omoumaimise-map.dev</string>
	<key>PROJECT_ID</key>
	<string>omoumaimise-map-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>omoumaimise-map-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615582581449:ios:4918836b6342c5d0210318</string>
</dict>
</plist>